<b>Ododo - Доставка Пиццы</b>

Близжайшая к Вам пиццерия <i>({{ address }})</i> находится на растоянии <b>{{ '%0.3f' % distance|float }} км</b>.
{% if distance <= 0.5 %}
Довольно близко, так что можете забрать пиццу у нас самостоятельно. 
Разумеется мы готовы привезти ее за бесплатно на указанный адрес. Нам не сложно :D
{% elif distance <= 5 %}
Доставка обойдется в <b>100 рублей</b>
{% elif distance <= 20 %}
Доставка обойдется в <b>300 рублей</b>
{% else %}
Ох. К сожалению, так далеко мы пиццу не повезем. Может есть адрес поближе?
{% endif %}